# Fichier ignoré lors du build Docker pour les services Java
target/
.git/
.gitignore
.gitlab-ci.yml
.gitlab/
src/test/
*.log
*.jar
.m2/
.classpath
.project
.settings/
.vscode/
.idea/
*.iml
*.swp
*.swo
*~
.DS_Store

# Fichier ignoré lors du build Docker pour le frontend
node_modules/
dist/
.angular/
.git/
.gitignore
.gitlab-ci.yml
.gitlab/
e2e/
src/test/
*.log
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
