mat-card{
    border-radius: 10px;
    background: #363636;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

mat-card:hover {
    transform: translateY(-4px);
    border: var(--primary-color) 3px solid;
}

mat-card-title{
    font-size: 1.2rem;
    font-weight: 700;
}

mat-card-subtitle {
    font-size: 0.60rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 3px 7px !important;
    margin-bottom: 0.5rem;
    width: fit-content;
    font-weight: 600;
}

mat-card-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
}

mat-card-content p:first-child {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

mat-card-content p:last-child {
    min-width: fit-content;
    margin-left: 1rem;
}